<html ng-app="spaceRace">
<title>Village Crusher</title>
<body ng-controller="gameController as gc">

  <h1> Village Crusher </h1>

  <button ng-click="gc.shootBullets(1)">Shoot a bullet!</button>
  {{gc.currentTarget.name}} Health: {{gc.currentTarget.health}}
  <br><br>
  Resources: {{gameData.resources}}
  <br>
  Soldiers: {{gameData.soldierCount}}
  <br>
  Bullets shot: {{gameData.bulletCount}}
  <br>
  Villages destroyed: {{gameData.villagesDestroyed}}

  <div data="recruitSoldier" ng-show="gc.showSoldierButton()">
    <button ng-click="gc.recruitSoldier()" ng-disabled="gc.disableSoldierButton()">
      Recruit a soldier! (10 resources)
    </button>
  </div>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.js"></script>
<script src="init.js"></script>
